:root {
  --backgroundColor: #ffffff;
  --primaryColor: #43b14b;
  --secondaryColor: #d77723;
  --tertiaryColor: #efe7dd;
  --textColorPrimary: #0f0e0c;
  --textColorSecondary: #efe7dd;
  /* --textColorSecondary: #0f0e0c; */
}
